body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.radio {
  float: left;

}
.checkbox .checkbox, .radio.radio  {
  margin-top: 10px;
}
.box {
  margin-top: 60px;
}
.radio_box {
  margin: 0px;
  padding: 0px;
}
.button_box {
  padding-top: 50px; 
}
input:focus:invalid:focus, textarea:focus:invalid:focus, select:focus:invalid:focus {
  border-color: rgba(82,168,236,0.8);
  color: #08c;
}
input:focus:invalid:focus, textarea:focus:invalid:focus, select:focus:invalid:focus {
    -webkit-box-shadow: 0 0 6px #08c;
    -moz-box-shadow: 0 0 6px #f8b9b7;
    box-shadow: 0 0 6px #08c;
}